#version=RHEL8
# Use cli install
# cmdline
graphical

%packages
@^minimal-environment
kexec-tools

%end

# Keyboard layouts
keyboard --xlayouts='jp'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=enp0s3 --ipv6=auto --activate
network  --hostname=localhost.localdomain

# Use CDROM installation media
cdrom

# Run the Setup Agent on first boot
firstboot --enable

ignoredisk --only-use=sda
autopart
# Partition clearing information
clearpart --all --initlabel

# System timezone
timezone Asia/Tokyo --isUtc

# Root password
rootpw --iscrypted $6$iTawznbgJNojQDob$UjDfrTtYLlsrqzAZDQH6ElDTSu9zCHk5HM8yr66vorg70Pll7mWQm04cpfqXpe1.D1apUgt0nt0mRwWGCgOht0

user --groups=wheel --name=k8s --password=$6$dh7RM0sIeldcWRTo$NQ3W71wC1P1grvH7XZDp6AvxCB7ri56omSfJAPRtAxvsJ1uiu6FE826xvDg0b6bE8XmDOQ5l14ztAheUU34s90 --iscrypted --gecos="k8s"
sshkey --username=k8s 'ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDoLRSxio0A7JDBT8L9vEPwxv/6Z8HyZLEqVq8+bDBWzJbUNSqhb4jNErVQCgIxJNnHRoSvjoAKll/X0uP/gfjZoQI9R8oSFzK4ov4j0kL0ZmTBSKciDmB2DolXpMlVzNF6TdesFWTwMFgVWzf9TotKABC4q+NL30k+Oz24VzIwHFJEZG0XzS7A4QQDjGqHMNTc1Bnfww9uvb/CLJOOVy8K65ehpyGRMiD73C4Sv6z6/ONQ3OK0X8UZK1VSh/stqvK3ec+kUcwatRql5vl5RW5AMpMUrhWV2tzuRKdzc+IZavkyov8UAjTzq9GJhI71NveNXgypa7MfQAhsXWzRoMEHHZ9yCzo6frQ2phA6yfHtjarA6QNVz0L8k56UXxQ+vNtoiO1MbSDyXxckrUsdGejL10Gb8CkdlbTDR89YkGmGpI1pjnmbXCSRf9CtfMSTnoCfV4537XMVAZLauKKL7syiCq1umTby1nN34W8PvOQqYntkLPvN/lViGtT1q8P+4Bs= k8s@DESKTOP-59R6B0A'

eula --agreed
reboot --eject

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end

